<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cht2</key>
		<string>[face001_bears_v5]</string>
		<key>cht</key>
		<string>[B_01]</string>
		<key>gif</key>
		<string>B_01@2x.gif</string>
		<key>name</key>
		<string>[YY]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face002_bears_v5]</string>
		<key>cht</key>
		<string>[B_02]</string>
		<key>gif</key>
		<string>B_02@2x.gif</string>
		<key>name</key>
		<string>[抬脚]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face003_bears_v5]</string>
		<key>cht</key>
		<string>[B_03]</string>
		<key>gif</key>
		<string>B_03@2x.gif</string>
		<key>name</key>
		<string>[点头]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face004_bears_v5]</string>
		<key>cht</key>
		<string>[B_04]</string>
		<key>gif</key>
		<string>B_04@2x.gif</string>
		<key>name</key>
		<string>[亲亲]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face005_bears_v5]</string>
		<key>cht</key>
		<string>B_05</string>
		<key>gif</key>
		<string>B_05@2x.gif</string>
		<key>name</key>
		<string>[吃饭去]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face006_bears_v5]</string>
		<key>cht</key>
		<string>B_06</string>
		<key>gif</key>
		<string>B_06@2x.gif</string>
		<key>name</key>
		<string>[冰]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face007_bears_v5]</string>
		<key>cht</key>
		<string>B_07</string>
		<key>gif</key>
		<string>B_07@2x.gif</string>
		<key>name</key>
		<string>[求包养]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face008_bears_v5]</string>
		<key>cht</key>
		<string>[B_08]</string>
		<key>gif</key>
		<string>B_08@2x.gif</string>
		<key>name</key>
		<string>[哈哈]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face009_bears_v5]</string>
		<key>cht</key>
		<string>[B_09]</string>
		<key>gif</key>
		<string>B_09@2x.gif</string>
		<key>name</key>
		<string>[来了]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face010_bears_v5]</string>
		<key>cht</key>
		<string>B_10]</string>
		<key>gif</key>
		<string>B_10@2x.gif</string>
		<key>name</key>
		<string>[顶]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face011_bears_v5]</string>
		<key>cht</key>
		<string>[B_11]</string>
		<key>gif</key>
		<string>B_11@2x.gif</string>
		<key>name</key>
		<string>[潜]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face012_bears_v5]</string>
		<key>cht</key>
		<string>[B_12]</string>
		<key>gif</key>
		<string>B_12@2x.gif</string>
		<key>name</key>
		<string>[游泳去]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face013_bears_v5]</string>
		<key>cht</key>
		<string>[B_13]</string>
		<key>gif</key>
		<string>B_13@2x.gif</string>
		<key>name</key>
		<string>[安静]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face014_bears_v5]</string>
		<key>cht</key>
		<string>B_14]</string>
		<key>gif</key>
		<string>B_14@2x.gif</string>
		<key>name</key>
		<string>[早]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face015_bears_v5]</string>
		<key>cht</key>
		<string>[B_15]</string>
		<key>gif</key>
		<string>B_15@2x.gif</string>
		<key>name</key>
		<string>[hi]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face016_bears_v5]</string>
		<key>cht</key>
		<string>[B_16]</string>
		<key>gif</key>
		<string>B_16@2x.gif</string>
		<key>name</key>
		<string>[叫你不听话]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face017_bears_v5]</string>
		<key>cht</key>
		<string>[B_17</string>
		<key>gif</key>
		<string>B_17@2x.gif</string>
		<key>name</key>
		<string>[+1]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face018_bears_v5]</string>
		<key>cht</key>
		<string>[B_18]</string>
		<key>gif</key>
		<string>B_18@2x.gif</string>
		<key>name</key>
		<string>[踩]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face019_bears_v5]</string>
		<key>cht</key>
		<string>[B_19]</string>
		<key>gif</key>
		<string>B_19@2x.gif</string>
		<key>name</key>
		<string>[打屁屁]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face020_bears_v5]</string>
		<key>cht</key>
		<string>[B_20]</string>
		<key>gif</key>
		<string>B_20@2x.gif</string>
		<key>name</key>
		<string>[放屁]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face021_bears_v5]</string>
		<key>cht</key>
		<string>[B_21]</string>
		<key>gif</key>
		<string>B_21@2x.gif</string>
		<key>name</key>
		<string>[扔肥皂]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face022_bears_v5]</string>
		<key>cht</key>
		<string>[B_22]</string>
		<key>gif</key>
		<string>B_22@2x.gif</string>
		<key>name</key>
		<string>[加油]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face023_bears_v5]</string>
		<key>cht</key>
		<string>[B_23]</string>
		<key>gif</key>
		<string>B_23@2x.gif</string>
		<key>name</key>
		<string>[捡肥皂]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face024_bears_v5]</string>
		<key>cht</key>
		<string>[B_24]</string>
		<key>gif</key>
		<string>B_24@2x.gif</string>
		<key>name</key>
		<string>[交作业啦]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face025_bears_v5]</string>
		<key>cht</key>
		<string>[B_25]</string>
		<key>gif</key>
		<string>B_25@2x.gif</string>
		<key>name</key>
		<string>[菊花]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face026_bears_v5]</string>
		<key>cht</key>
		<string>[B_26]</string>
		<key>gif</key>
		<string>B_26@2x.gif</string>
		<key>name</key>
		<string>[举手]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face027_bears_v5]</string>
		<key>cht</key>
		<string>[B_27]</string>
		<key>gif</key>
		<string>B_27@2x.gif</string>
		<key>name</key>
		<string>[摸摸头]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face028_bears_v5]</string>
		<key>cht</key>
		<string>[B_28]</string>
		<key>gif</key>
		<string>B_28@2x.gif</string>
		<key>name</key>
		<string>[膜拜]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face029_bears_v5]</string>
		<key>cht</key>
		<string>[B_29]</string>
		<key>gif</key>
		<string>B_29@2x.gif</string>
		<key>name</key>
		<string>[上课啦]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face030_bears_v5]</string>
		<key>cht</key>
		<string>[B_30]</string>
		<key>gif</key>
		<string>B_30@2x.gif</string>
		<key>name</key>
		<string>[喂]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face031_bears_v5]</string>
		<key>cht</key>
		<string>B_31]</string>
		<key>gif</key>
		<string>B_31@2x.gif</string>
		<key>name</key>
		<string>[星星]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face032_bears_v5]</string>
		<key>cht</key>
		<string>[B_32]</string>
		<key>gif</key>
		<string>B_32@2x.gif</string>
		<key>name</key>
		<string>[走起]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face033_bears_v5]</string>
		<key>cht</key>
		<string>[B_33]</string>
		<key>gif</key>
		<string>B_33@2x.gif</string>
		<key>name</key>
		<string>[吃零食]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face034_bears_v5]</string>
		<key>cht</key>
		<string>[B_34]</string>
		<key>gif</key>
		<string>B_34@2x.gif</string>
		<key>name</key>
		<string>[摔]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face035_bears_v5]</string>
		<key>cht</key>
		<string>[B_35]</string>
		<key>gif</key>
		<string>B_35@2x.gif</string>
		<key>name</key>
		<string>[怒骂]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face036_bears_v5]</string>
		<key>cht</key>
		<string>[B_36]</string>
		<key>gif</key>
		<string>B_36@2x.gif</string>
		<key>name</key>
		<string>[翻桌子]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face037_bears_v5]</string>
		<key>cht</key>
		<string>[B_37]</string>
		<key>gif</key>
		<string>B_37@2x.gif</string>
		<key>name</key>
		<string>[孤寂]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face038_bears_v5]</string>
		<key>cht</key>
		<string>[B_38]</string>
		<key>gif</key>
		<string>B_38@2x.gif</string>
		<key>name</key>
		<string>[害怕]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face039_bears_v5]</string>
		<key>cht</key>
		<string>[B_39]</string>
		<key>gif</key>
		<string>B_39@2x.gif</string>
		<key>name</key>
		<string>[雷到了]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face040_bears_v5]</string>
		<key>cht</key>
		<string>[B_40]</string>
		<key>gif</key>
		<string>B_40@2x.gif</string>
		<key>name</key>
		<string>[楼上的]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face041_bears_v5]</string>
		<key>cht</key>
		<string>[B_41]</string>
		<key>gif</key>
		<string>B_41@2x.gif</string>
		<key>name</key>
		<string>[乖]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face042_bears_v5]</string>
		<key>cht</key>
		<string>[B_42]</string>
		<key>gif</key>
		<string>B_42@2x.gif</string>
		<key>name</key>
		<string>[期待]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face043_bears_v5]</string>
		<key>cht</key>
		<string>[B_43]</string>
		<key>gif</key>
		<string>B_43@2x.gif</string>
		<key>name</key>
		<string>[摸摸大]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face044_bears_v5]</string>
		<key>cht</key>
		<string>[B_44]</string>
		<key>gif</key>
		<string>B_44@2x.gif</string>
		<key>name</key>
		<string>[石化]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face045_bears_v5]</string>
		<key>cht</key>
		<string>[B_45]</string>
		<key>gif</key>
		<string>B_45@2x.gif</string>
		<key>name</key>
		<string>[吐舌头]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face046_bears_v5]</string>
		<key>cht</key>
		<string>[B_46]</string>
		<key>gif</key>
		<string>B_46@2x.gif</string>
		<key>name</key>
		<string>[问号]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face047_bears_v5]</string>
		<key>cht</key>
		<string>[B_47]</string>
		<key>gif</key>
		<string>B_47@2x.gif</string>
		<key>name</key>
		<string>[流泪]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face048_bears_v5]</string>
		<key>cht</key>
		<string>[B_48]</string>
		<key>gif</key>
		<string>B_48@2x.gif</string>
		<key>name</key>
		<string>[拍手]</string>
	</dict>
	<dict>
		<key>cht2</key>
		<string>[face049_bears_v5]</string>
		<key>cht</key>
		<string>[B_49]</string>
		<key>gif</key>
		<string>B_49@2x.gif</string>
		<key>name</key>
		<string>[又帅了]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_50]</string>
		<key>gif</key>
		<string>B_50@2x.gif</string>
		<key>name</key>
		<string>[擦眼睛]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_51]</string>
		<key>gif</key>
		<string>B_51@2x.gif</string>
		<key>name</key>
		<string>[搓澡]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_52]</string>
		<key>gif</key>
		<string>B_52@2x.gif</string>
		<key>name</key>
		<string>[大笑]</string>
	</dict>
	<dict>
		<key>gif</key>
		<string>B_53@2x.gif</string>
		<key>cht</key>
		<string>[B_53]</string>
		<key>name</key>
		<string>[弹脸]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_54]</string>
		<key>gif</key>
		<string>B_54@2x.gif</string>
		<key>name</key>
		<string>[得瑟]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_55]</string>
		<key>gif</key>
		<string>B_55@2x.gif</string>
		<key>name</key>
		<string>[吃粽子]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_56]</string>
		<key>gif</key>
		<string>B_56@2x.gif</string>
		<key>name</key>
		<string>[奋斗]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_57]</string>
		<key>gif</key>
		<string>B_57@2x.gif</string>
		<key>name</key>
		<string>[加油]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_58]</string>
		<key>gif</key>
		<string>B_58@2x.gif</string>
		<key>name</key>
		<string>[无精打采]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_59]</string>
		<key>gif</key>
		<string>B_59@2x.gif</string>
		<key>name</key>
		<string>[开心]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_60]</string>
		<key>gif</key>
		<string>B_60@2x.gif</string>
		<key>name</key>
		<string>[发呆]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_61]</string>
		<key>gif</key>
		<string>B_61@2x.gif</string>
		<key>name</key>
		<string>[娇羞]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_62]</string>
		<key>gif</key>
		<string>B_62@2x.gif</string>
		<key>name</key>
		<string>[娇羞2]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_63]</string>
		<key>gif</key>
		<string>B_63@2x.gif</string>
		<key>name</key>
		<string>[快乐]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_64]</string>
		<key>gif</key>
		<string>B_64@2x.gif</string>
		<key>name</key>
		<string>[旅游]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_65]</string>
		<key>gif</key>
		<string>B_65@2x.gif</string>
		<key>name</key>
		<string>[你走]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_66]</string>
		<key>gif</key>
		<string>B_66@2x.gif</string>
		<key>name</key>
		<string>[拍桌子</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_67]</string>
		<key>gif</key>
		<string>B_67@2x.gif</string>
		<key>name</key>
		<string>[噗。。]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_68]</string>
		<key>gif</key>
		<string>B_68@2x.gif</string>
		<key>name</key>
		<string>[剔牙]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_69]</string>
		<key>gif</key>
		<string>B_69@2x.gif</string>
		<key>name</key>
		<string>[跳绳]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_70]</string>
		<key>gif</key>
		<string>B_70@2x.gif</string>
		<key>name</key>
		<string>[哇，，]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_71]</string>
		<key>gif</key>
		<string>B_71@2x.gif</string>
		<key>name</key>
		<string>[无聊]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_72]</string>
		<key>gif</key>
		<string>B_72@2x.gif</string>
		<key>name</key>
		<string>[无奈]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_73]</string>
		<key>gif</key>
		<string>B_73@2x.gif</string>
		<key>name</key>
		<string>[无语]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_74]</string>
		<key>gif</key>
		<string>B_74@2x.gif</string>
		<key>name</key>
		<string>[喜欢]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_75]</string>
		<key>gif</key>
		<string>B_75@2x.gif</string>
		<key>name</key>
		<string>[疑问]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_76]</string>
		<key>gif</key>
		<string>B_76@2x.gif</string>
		<key>name</key>
		<string>[蹲墙角]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_77]</string>
		<key>gif</key>
		<string>B_77@2x.gif</string>
		<key>name</key>
		<string>[赞]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_78]</string>
		<key>gif</key>
		<string>B_78@2x.gif</string>
		<key>name</key>
		<string>[吃月饼]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_79]</string>
		<key>gif</key>
		<string>B_79@2x.gif</string>
		<key>name</key>
		<string>[转圈]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_80]</string>
		<key>gif</key>
		<string>B_80@2x.gif</string>
		<key>name</key>
		<string>[撞头]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_81]</string>
		<key>gif</key>
		<string>B_81@2x.gif</string>
		<key>name</key>
		<string>[吹裙子]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_82]</string>
		<key>gif</key>
		<string>B_82@2x.gif</string>
		<key>name</key>
		<string>[被骂]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_83]</string>
		<key>gif</key>
		<string>B_83@2x.gif</string>
		<key>name</key>
		<string>[爱心]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_84]</string>
		<key>gif</key>
		<string>B_84@2x.gif</string>
		<key>name</key>
		<string>[拜托]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_85]</string>
		<key>gif</key>
		<string>B_85@2x.gif</string>
		<key>name</key>
		<string>[抱]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_86]</string>
		<key>gif</key>
		<string>B_86@2x.gif</string>
		<key>name</key>
		<string>[抱抱]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_87]</string>
		<key>gif</key>
		<string>B_87@2x.gif</string>
		<key>name</key>
		<string>[跑]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_88]</string>
		<key>gif</key>
		<string>B_88@2x.gif</string>
		<key>name</key>
		<string>[别逼我]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_89]</string>
		<key>gif</key>
		<string>B_89@2x.gif</string>
		<key>name</key>
		<string>[别走]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_90]</string>
		<key>gif</key>
		<string>B_90@2x.gif</string>
		<key>name</key>
		<string>[吹风扇]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_91]</string>
		<key>gif</key>
		<string>B_91@2x.gif</string>
		<key>name</key>
		<string>[亲]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_92]</string>
		<key>gif</key>
		<string>B_92@2x.gif</string>
		<key>name</key>
		<string>[看书]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_93]</string>
		<key>gif</key>
		<string>B_93@2x.gif</string>
		<key>name</key>
		<string>[狂汗]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_94]</string>
		<key>gif</key>
		<string>B_94@2x.gif</string>
		<key>name</key>
		<string>[困]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_95]</string>
		<key>gif</key>
		<string>B_95@2x.gif</string>
		<key>name</key>
		<string>[亮瞎]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_96]</string>
		<key>gif</key>
		<string>B_96@2x.gif</string>
		<key>name</key>
		<string>[捏捏脸]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_97]</string>
		<key>gif</key>
		<string>B_97@2x.gif</string>
		<key>name</key>
		<string>[牛郎]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_98]</string>
		<key>gif</key>
		<string>B_98@2x.gif</string>
		<key>name</key>
		<string>[愤怒]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_99]</string>
		<key>gif</key>
		<string>B_99@2x.gif</string>
		<key>name</key>
		<string>[拍]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_100]</string>
		<key>gif</key>
		<string>B_100@2x.gif</string>
		<key>name</key>
		<string>[我来了]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_101]</string>
		<key>gif</key>
		<string>B_101@2x.gif</string>
		<key>name</key>
		<string>[亲亲]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_102]</string>
		<key>gif</key>
		<string>B_102@2x.gif</string>
		<key>name</key>
		<string>[色]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_103]</string>
		<key>gif</key>
		<string>B_103@2x.gif</string>
		<key>name</key>
		<string>[生病]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_104]</string>
		<key>gif</key>
		<string>B_104@2x.gif</string>
		<key>name</key>
		<string>[受伤]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_105]</string>
		<key>gif</key>
		<string>B_105@2x.gif</string>
		<key>name</key>
		<string>[玫瑰]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_106]</string>
		<key>gif</key>
		<string>B_106@2x.gif</string>
		<key>name</key>
		<string>[拖]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_107]</string>
		<key>gif</key>
		<string>B_107@2x.gif</string>
		<key>name</key>
		<string>[我不听]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_108]</string>
		<key>gif</key>
		<string>B_108@2x.gif</string>
		<key>name</key>
		<string>[小便]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_109]</string>
		<key>gif</key>
		<string>B_109@2x.gif</string>
		<key>name</key>
		<string>[学习]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_110]</string>
		<key>gif</key>
		<string>B_110@2x.gif</string>
		<key>name</key>
		<string>[约]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_111]</string>
		<key>gif</key>
		<string>B_111@2x.gif</string>
		<key>name</key>
		<string>[织女]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_112]</string>
		<key>gif</key>
		<string>B_112@2x.gif</string>
		<key>name</key>
		<string>[撞]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_113]</string>
		<key>gif</key>
		<string>B_113@2x.gif</string>
		<key>name</key>
		<string>[追]</string>
	</dict>
</array>
</plist>
