<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cht</key>
		<string>[B_89]</string>
		<key>gif</key>
		<string>C_89@2x.png</string>
		<key>name</key>
		<string>[别走]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_90]</string>
		<key>gif</key>
		<string>C_90@2x.png</string>
		<key>name</key>
		<string>[吹风扇]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_91]</string>
		<key>gif</key>
		<string>C_91@2x.png</string>
		<key>name</key>
		<string>[红唇]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_92]</string>
		<key>gif</key>
		<string>C_92@2x.png</string>
		<key>name</key>
		<string>[看书]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_93]</string>
		<key>gif</key>
		<string>C_93@2x.png</string>
		<key>name</key>
		<string>[狂汗]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_94]</string>
		<key>gif</key>
		<string>C_94@2x.png</string>
		<key>name</key>
		<string>[困]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_95]</string>
		<key>gif</key>
		<string>C_95@2x.png</string>
		<key>name</key>
		<string>[亮瞎]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_96]</string>
		<key>gif</key>
		<string>C_77@2x.png</string>
		<key>name</key>
		<string>[捏]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_97]</string>
		<key>gif</key>
		<string>C_97@2x.png</string>
		<key>name</key>
		<string>[牛郎]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_98]</string>
		<key>gif</key>
		<string>C_98@2x.png</string>
		<key>name</key>
		<string>[怒]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_99]</string>
		<key>gif</key>
		<string>C_99@2x.png</string>
		<key>name</key>
		<string>[拍]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_100]</string>
		<key>gif</key>
		<string>C_100@2x.png</string>
		<key>name</key>
		<string>[跑跑]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_101]</string>
		<key>gif</key>
		<string>C_101@2x.png</string>
		<key>name</key>
		<string>[强亲]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_102]</string>
		<key>gif</key>
		<string>C_102@2x.png</string>
		<key>name</key>
		<string>[色]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_103]</string>
		<key>gif</key>
		<string>C_103@2x.png</string>
		<key>name</key>
		<string>[生病]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_104]</string>
		<key>gif</key>
		<string>C_104@2x.png</string>
		<key>name</key>
		<string>[受伤]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_105]</string>
		<key>gif</key>
		<string>C_105@2x.png</string>
		<key>name</key>
		<string>[送花]</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[拖]</string>
		<key>cht</key>
		<string>[B_106]</string>
		<key>gif</key>
		<string>C_106@2x.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_107]</string>
		<key>gif</key>
		<string>C_107@2x.png</string>
		<key>name</key>
		<string>[我不听不听]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_109]</string>
		<key>gif</key>
		<string>C_109@2x.png</string>
		<key>name</key>
		<string>[学习]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_110]</string>
		<key>gif</key>
		<string>C_110@2x.png</string>
		<key>name</key>
		<string>[约]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_111]</string>
		<key>gif</key>
		<string>C_111@2x.png</string>
		<key>name</key>
		<string>[织女]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_112]</string>
		<key>gif</key>
		<string>C_112@2x.png</string>
		<key>name</key>
		<string>[撞]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_113]</string>
		<key>gif</key>
		<string>C_113@2x.png</string>
		<key>name</key>
		<string>[追]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_87]</string>
		<key>gif</key>
		<string>C_87@2x.png</string>
		<key>name</key>
		<string>[奔跑]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_82]</string>
		<key>gif</key>
		<string>C_82@2x.png</string>
		<key>name</key>
		<string>[挨骂]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_83]</string>
		<key>gif</key>
		<string>C_83@2x.png</string>
		<key>name</key>
		<string>[爱心]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_84]</string>
		<key>gif</key>
		<string>C_84@2x.png</string>
		<key>name</key>
		<string>[拜托]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_85]</string>
		<key>gif</key>
		<string>C_85@2x.png</string>
		<key>name</key>
		<string>[抱]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_86]</string>
		<key>gif</key>
		<string>C_86@2x.png</string>
		<key>name</key>
		<string>[抱抱]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_88]</string>
		<key>gif</key>
		<string>C_88@2x.png</string>
		<key>name</key>
		<string>[别逼我]</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[B_108]</string>
		<key>gif</key>
		<string>C_108@2x.png</string>
		<key>name</key>
		<string>[小便]</string>
	</dict>
</array>
</plist>
